<include file="Public/header"/>
<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <!--条件查询-->
      <div class="ibox-title">
        <h5>订单管理</h5>
        <div class="ibox-tools">
          <i class="layui-icon" onclick="location.replace(location.href);" title="刷新"
             style="cursor:pointer;">ဂ</i>
        </div>
      </div>
      <!--条件查询-->
      <div class="ibox-content">
        <form class="layui-form" action="" method="get" autocomplete="off" id="orderform">
          <input type="hidden" name="m" value="User">
          <input type="hidden" name="c" value="Order">
          <input type="hidden" name="a" value="index">
          <input type="hidden" name="p" value="1">
          <div class="layui-form-item">
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" name="orderid" autocomplete="off" placeholder="请输入订单号"
                       class="layui-input" value="<{$orderid}>">
              </div>
              <div class="layui-input-inline">
                <input type="text" name="body" autocomplete="off" placeholder="请输入订单描述"
                       class="layui-input" value="<{$body}>">
              </div>
              <div class="layui-input-inline" style="width:300px">
                <input type="text" class="layui-input" name="createtime" id="createtime"
                       placeholder="创建起始时间" value="<{$createtime}>">
              </div>
              <div class="layui-input-inline" style="width:300px">
                <input type="text" class="layui-input" name="successtime" id="successtime"
                       placeholder="完成起始时间" value="<{$successtime}>">
              </div>
            </div>
            <div class="layui-inline">
              <div class="layui-input-inline">
                <select name="tongdao">
                  <option value="">全部通道</option>
                  <volist name="banklist" id="vo">
                    <option <if condition="$tongdao eq $vo[code]">selected</if>
                    value="<{$vo.code}>"><{$vo.name}></option>
                  </volist>
                </select>
              </div>

              <div class="layui-input-inline">
                <select name="status">
                  <option value="">全部状态</option>
                  <option value="0" <if condition="$status eq '0'">selected</if>>未处理</option>
                  <option value="1" <if condition="$status eq '1'">selected</if>>成功，未返回</option>
                  <option value="2" <if condition="$status eq '2'">selected</if>>成功，已返回</option>
                </select>
              </div>
              <div class="layui-input-inline">
                <select name="ddlx">
                  <option value="">订单类型</option>
                  <option <if condition="$ddlx eq 2">selected</if> value="0">收款订单</option>
                  <option <if condition="$ddlx eq 1">selected</if> value="1">充值订单</option>
                </select>
              </div>

            </div>

            <div class="layui-inline">
              <button type="submit" class="layui-btn"><span
                      class="glyphicon glyphicon-search"></span> 搜索
              </button>
              <a href="javascript:;" id="export" class="layui-btn layui-btn-danger"><span class="glyphicon glyphicon-export"></span> 导出数据</a>
            </div>
          </div>
        </form>
        <if condition="$_GET['status'] eq '2'">
          <blockquote class="layui-elem-quote" style="font-size:14px;padding:8px;">今日成功交易总额：<span class="label label-info"><{$stat.todaysum}>元</span>  今日成功交易笔数：<span class="label label-info"><{$stat.todaysuccesscount}></span>
            今日实际到账：<span class="label label-info"><{$stat.taodayactualamount}>元</span> 今日失败笔数：<span class="label label-danger"><{$stat.todayfailcount}></span>
          </blockquote>
        </if>
        <if condition="$_GET['createtime'] OR $_GET['successtime']">
        <blockquote class="layui-elem-quote" style="font-size:14px;padding:8px;">成功交易金额：<span class="label label-info"><{$sum.pay_amount}>元</span>
           成功订单数：<span class="label label-info"><{$sum.success_count}></span> 失败订单数：<span class="label label-danger"><{$sum.fail_count}></span>
          投诉保证金已返回金额：<span class="label label-info"><{$sum.complaints_deposit_unfreezed}></span> 投诉保证金冻结金额：<span class="label label-danger"><{$sum.complaints_deposit_freezed}></span>
        </blockquote>
        </if>
        <!--交易列表-->
        <table class="layui-table" lay-data="{width:'100%',limit:<{$rows}>,id:'userData'}">
          <thead>
          <tr>
            <th lay-data="{field:'key',width:90}"></th>
            <th lay-data="{field:'ddlx', width:60}">类型</th>
            <th lay-data="{field:'out_trade_id', width:240,style:'color:#060;'}">订单号</th>
            <th lay-data="{field:'memberid', width:110}">商户编号</th>
            <th lay-data="{field:'amount', width:100,style:'color:#060;'}">交易金额</th>
            <th lay-data="{field:'rate', width:90}">手续费</th>
            <th lay-data="{field:'actualamount', width:100,style:'color:#C00;'}">实际金额</th>
            <th lay-data="{field:'applydate', width:160}">提交时间</th>
            <th lay-data="{field:'successdate', width:160}">成功时间</th>
            <th lay-data="{field:'zh_tongdao', width:120}">支付通道</th>
            <th lay-data="{field:'bankname', width:120}">支付银行</th>
            <th lay-data="{field:'tjurl', width:100}">来源地址</th>
            <th lay-data="{field:'body', width:100}">订单描述</th>
            <th lay-data="{field:'status', width:110}">状态</th>
            <th lay-data="{field:'op',width:130}">操作</th>
          </tr>
          </thead>
          <tbody>
          <volist name="list" id="vo">
            <tr>
              <td><{$vo.id}></td>
              <td>
                <switch name="vo[ddlx]">
                  <case value="1">充值</case>
                  <default/>收款
                </switch>
              </td>
              <td style="text-align:center; color:#090;"><{$vo[out_trade_id]?$vo[out_trade_id]:$vo[pay_orderid]}>
                <if condition="$vo.del == 1">
                  <span style="color: #f00;">×</span>
                </if>
              </td>
              <td style="text-align:center;"><{$vo.pay_memberid}></td>
              <td style="text-align:center; color:#060"><{$vo.pay_amount}></td>
              <td style="text-align:center; color:#666"><{$vo.pay_poundage}></td>
              <td style="text-align:center; color:#C00"><{$vo.pay_actualamount}></td>
              <td style="text-align:center;"><{$vo.pay_applydate|date='Y-m-d H:i:s',###}></td>
              <td style="text-align:center;"><if condition="$vo[pay_successdate]"><{$vo.pay_successdate|date='Y-m-d H:i:s',###}><else/> --- </if></td>
              <td style="text-align:center;"><{$vo.pay_zh_tongdao}></td>
              <td style="text-align:center;"><{$vo.pay_bankname}></td>
              <td style="text-align:center;"><a href="<{$vo.pay_tjurl}>" target="_blank" title="<{$vo.pay_tjurl}>">
                来源地址</a></td>
              <td style="text-align:center;"><{$vo.pay_productname}></td>
              <td style="text-align:center; color:#369"><{$vo['pay_status']|status=###}></td>
              <td>
                <button class="layui-btn layui-btn-small" onclick="order_view('订单号:<{$vo.out_trade_id}>','<{:U('User/Order/show',['oid'=>$vo[id]])}>',600,400)">查看</button>
              </td>
            </tr>
          </volist>
          </tbody>
        </table>
        <!--交易列表-->
        <div class="page">
            
            <form class="layui-form" action="" method="get" id="pageForm" autocomplete="off">     
              <{$page}>                            
                <select name="rows" style="height: 32px;" id="pageList" lay-ignore >
                    <option value="">显示条数</option>
                    <option <if condition="$rows neq '' && $rows eq 15">selected</if> value="15">15条</option>
                    <option <if condition="$rows eq 30">selected</if> value="30">30条</option>
                    <option <if condition="$rows eq 50">selected</if> value="50">50条</option>
                    <option <if condition="$rows eq 80">selected</if> value="80">80条</option>
                    <option <if condition="$rows eq 100">selected</if> value="100">100条</option>
                    <option <if condition="$rows eq 1000">selected</if> value="1000">1000条</option>
                </select>
               

            </form>
          
        </div> 
      </div>
    </div>
  </div>
</div>
<include file="Public/footer"/>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function() {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,form = layui.form //表单
            , table = layui.table; //表格
        //日期时间范围
        laydate.render({
            elem: '#createtime'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
        //日期时间范围
        laydate.render({
            elem: '#successtime'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
    });
    /*订单-查看*/
    function order_view(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    /*订单-删除*/
    function order_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                url:"<{:U('Order/delOrder')}>",
                type:'post',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }
    $('#export').on('click',function(){
        window.location.href
            ="<{:U('User/Order/exportorder',array('orderid'=>$orderid,'createtime'=>$createtime,'successtime'=>$successtime,'status'=>$status,'memberid'=>$memberid))}>";
    });
    $('#pageList').change(function(){
        $('#pageForm').submit();
    });
</script>
</body>
</html>