<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
            <span><img alt="image" class="img-circle" src="/Public/Front/img/avatar.jpg"
                       style="width: 64px;height: 64px;"></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold"><{$fans.username}><br>(ID：<{$fans.memberid}>)</strong>
                    </span>
                    <span class="text-muted text-xs block">
                        <if condition="$fans['authorized'] == 0">
                            <span>未认证</span>
                        <else/>
                            <span>认证用户</span>
                        </if>
                        <b class="caret"></b>
                    </span>
                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="<{:U("Account/editPassword")}>">修改密码</a> </li>
                        <li class="divider"></li>
                        <li><a href="<{:U("Login/loginout")}>">安全退出</a> </li>
                    </ul>
                </div>
                <div class="logo-element">MENU</div>
            </li>
            <li><a href="#"> <i class="fa fa-home"></i> <span
                    class="nav-label">管理中心</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="<{:U('Index/index')}>"> <span class="nav-label">控制面板</span> </a></li>
                         <if condition="$fans[agent_cate] gt 4">
                        <li><a href="<{:U("Account/qrcode")}>" class="J_menuItem"><strong>台卡管理</strong></a></a> </li>
                        </if>
                    </ul>

            </li>

            <if condition="$fans[groupid] gt 4">
                <!--
            <li><a href="#"> <i class="fa fa-dollar"></i> <span
                    class="nav-label">我要收款</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Account/qrcode")}>" class="J_menuItem"><strong>收款二维码</strong></a></a> </li>

                    <li><a href="<{:U('Account/link')}>" class="J_menuItem"> <span class="nav-label">收款链接</span> </a></li>

                </ul>
            </li>
            -->
            </if>
            <if condition="$fans[groupid] eq 4 and $fans[open_charge] eq 1">
                <li><a href="#"> <i class="fa fa-dollar"></i> <span
                        class="nav-label">充值入口</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="<{:U("Account/qrcode")}>" class="J_menuItem"><strong>充值二维码</strong></a></a> </li>

                        <li><a href="<{:U('Account/link')}>" class="J_menuItem"> <span class="nav-label">充值链接</span> </a></li>

                    </ul>
                </li>
            </if>
            <li><a href="#"> <i class="fa fa-volume-up"></i> <span
                    class="nav-label">公告</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Index/gonggao")}>" class="J_menuItem"><strong>站内公告</strong></a></a> </li>
                </ul>
            </li>
            <li><a href="#"> <i class="fa fa fa-user"></i> <span class="nav-label">账户管理</span> <span
                    class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Account/profile")}>" class="J_menuItem"><strong>基本信息</strong></a> </li>
                    <li><a href="<{:U("Account/bankcard")}>" class="J_menuItem"><strong>银行卡管理</strong></a> </li>
                    <li><a href="<{:U("Account/authorized")}>" class="J_menuItem"><strong>认证信息</strong></a> </li>
                    <li><a href="<{:U("Account/editPassword")}>" class="J_menuItem"><strong>登录密码</strong></a> </li>
                    <li><a href="<{:U("Account/editPaypassword")}>" class="J_menuItem"><strong>支付密码</strong></a> </li>
                    <li><a href="<{:U("Account/loginrecord")}>" class="J_menuItem"><strong>登录记录</strong></a> </li>
                    <li><a href="<{:U("Account/google")}>" class="J_menuItem"><strong>Google身份验证</strong></a> </li>
                </ul>
            </li>
            <li><a href="#"> <i class="fa fa-money"></i> <span class="nav-label">财务管理</span> <span class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Account/changeRecord")}>" class="J_menuItem"><strong>资金记录</strong></a> </li>
                    <li><a href="<{:U("Account/channelFinance")}>" class="J_menuItem"><strong>通道分析</strong></a> </li>
                    <li><a href="<{:U("Account/complaintsDeposit")}>" class="J_menuItem"><strong>保证金明细</strong></a> </li>
                    <li><a href="<{:U("Account/frozenMoney")}>" class="J_menuItem"><strong>冻结资金明细</strong></a> </li>
                    <eq name="fans[groupid]" value="4">
                    <li><a href="<{:U("Account/reconciliation")}>" class="J_menuItem"><strong>对账单</strong></a> </li>
                    </eq>
                </ul>
            </li>
            <li><a href="#"> <i class="fa fa fa-check"></i> <span class="nav-label">结算管理</span> <span
                    class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Withdrawal/clearing")}>" class="J_menuItem"><strong>结算申请</strong></a>     </li>
                    <if condition="$siteconfig['payingservice']">
                    <li><a href="<{:U("Withdrawal/dfapply")}>" class="J_menuItem"><strong>代付申请</strong></a>     </li>
                    </if>
                    <li><a href="<{:U("Withdrawal/index")}>" class="J_menuItem"><strong>结算记录</strong></a>     </li>
                    <li><a href="<{:U("Withdrawal/payment")}>" class="J_menuItem"><strong>代付记录</strong></a>     </li>
                    <if condition="$siteconfig['df_api'] and $fans[df_api]">
                    <li><a href="<{:U("Withdrawal/check")}>" class="J_menuItem"><strong>商户代付管理</strong></a>     </li>
                    </if>
                </ul>
            </li>
            <neq name="fans[groupid]" value="4">
                <li><a href="#"> <i class="fa fa fa-gears"></i> <span class="nav-label">订单管理</span> <span
                        class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li><a href="<{:U("Agent/order")}>" class="J_menuItem"><strong>所有订单</strong></a></li>
                    </ul>
                </li>
            </neq>
            <eq name="fans[groupid]" value="4">
            <li><a href="#"> <i class="fa fa fa-sellsy"></i> <span class="nav-label">订单管理</span> <span
                    class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Order/index")}>" class="J_menuItem"><strong>所有订单</strong></a>
                    </li>
                    <li><a href="<{:U("Order/index",['status'=>2])}>" class="J_menuItem"><strong>成功订单</strong></a>
                    </li>
                    <li><a href="<{:U("Order/index",['status'=>1])}>" class="J_menuItem"><strong>手工补发</strong></a>
                    </li>
                    <li><a href="<{:U("Order/index",['status'=>0])}>" class="J_menuItem"><strong>未支付订单</strong></a>
                    </li>
                </ul>
            </li>
            </eq>
         
             <neq name="fans[groupid]" value="4">
                <li><a href="#"> <i class="fa fa fa-gears"></i> <span class="nav-label">代理管理</span> <span
                        class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <if condition="$siteconfig['invitecode']">
                        <li><a href="<{:U("Agent/invitecode")}>" class="J_menuItem"><strong>注册邀请码</strong></a> </li>
                        </if>
                         <li><a href="<{:U("Agent/member")}>" class="J_menuItem"><strong>下级商户管理</strong></a> </li>
                        <li><a href="javascript:alert('正在开发完善中...');" class="J_menuItem" style="display:none;"><strong>提成记录</strong></a>
                        </li>
                    </ul>
                </li>
            </neq>

            <li><a href="#"> <i class="fa fa fa-bank"></i> <span class="nav-label">API管理</span> <span
                    class="fa arrow"></span> </a>
                <ul class="nav nav-second-level">
                    <li><a href="<{:U("Channel/index")}>" class="J_menuItem"><strong>查看通道费率</strong></a>  </li>
                    <eq name="fans[groupid]" value="4">
                    <li><a href="<{:U("Channel/apidocumnet")}>" class="J_menuItem"><strong>API开发文档</strong></a>  </li>
                    </eq>
                </ul>
            </li>


        </ul>
    </div>
</nav>
    